/* ---------------------------Navigation page------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding-left: 0px !important;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.navbar-style{
    padding:0;
    background-color: #0088c1;
    height: 10vh;
    color:white;
}
.nav-item{
    padding-top:2%;
    text-align: center;
    align-items: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
    width:32%;
    height: 65%;
}
.icon-style{
    width:30%;
    height: 40%;
}

/* -----------------------------------------Footer ----------------------------------------- */
.footer{
   background-color: #F5F5F7;
}
.footer-title{
    padding-bottom: 1.5%;
}
.foot-text{
    font-size: 75%;
}
.facebook-icon{
    width:12px;
    height:20px;
    
}
.instagram-icon{
    width:18px;
    height:20px;
    
}
.copyright{
    font-size:75%;
}

/* -------------------------------------------Filter------------------------------------------------ */
.filter-title{
    padding-top:8%;
    font-size:80%;
}

.categories{
    font-size:65%;
    padding-top:3%;
    padding-bottom: 2%;

}
.filter-menu{
    height:100vh;
}
.filter{
    margin-left: 50px !important;
    width:60%;
    font-size: 70%;
    border:1px thin rgb(182, 179, 179);
}
.range-text{
    font-size: 70%;
    text-align: right;
}
.range{
    width:80%;
    height:75%;
    padding-right:0 !important;
    font-size: 60%;
}
.condition{
    width:30%;
    height:30%;
}
.condition-text{
    font-size:70%;
}
/* --------------------------product list----------------------------------------- */
.phone{
    margin-top:4%;
}
.background-row{
    height:16%;
}
.background{
    padding-top:5%;
    width:100%;
    height:65%;
}
/* ----------------------product card----------------------------------------- */
.card{
    width:70%;
    height:100%;
}
.card-body{
    padding:0;
}
.card-title{
    font-size:62%;
}
.card-text{
    font-size:55%;
}
.btn{
    width:55%;
    height:35%;
    font-size:75%;
}
.product-row{
    padding-bottom:5%;
}

.pagination{
    font-size: 70%;
    
}
